.row {
    max-width: $grid-width;
    background-color: #eee;
    margin: 0 auto;
    
    // on everything but the last child:
    &:not(:last-child) {
        margin-bottom: $gutter-vertical;
    }
}